<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>FlexiWork</display-name>

	<!-- Servlet Definitions -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.FlexiWork.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>error</servlet-name>
		<servlet-class>com.FlexiWork.ErrorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>homePage</servlet-name>
		<servlet-class>com.FlexiWork.HomePageRedirectServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>homePage</servlet-name>
		<url-pattern>/HomePage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>domainName</servlet-name>
		<servlet-class>com.FlexiWork.DomainRedirectServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>domainName</servlet-name>
		<url-pattern>/domain</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>check</servlet-name>
		<servlet-class>com.FlexiWork.checkPositionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>check</servlet-name>
		<url-pattern>/checkPosition</url-pattern>
	</servlet-mapping>

	<servlet>	
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.FlexiWork.LogoutFunctionality</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.FlexiWork.RegistrationFunctionality</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>searchLocation</servlet-name>
		<servlet-class>com.FlexiWork.FetchWorkerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>searchLocation</servlet-name>
		<url-pattern>/SearchByLocation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>workerRegister</servlet-name>
		<servlet-class>com.FlexiWork.WorkerRegistrationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>workerRegister</servlet-name>
		<url-pattern>/WorkerRegistration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>hiringInfo</servlet-name>
		<servlet-class>com.FlexiWork.hiringDataStoreServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hiringInfo</servlet-name>
		<url-pattern>/hiringDataStore</url-pattern>
	</servlet-mapping>
	
	
	<!-- Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>
